<div class="p-5">
    <h1>Portafolio</h1>
    <div>
        <p>sdujhosdifjoii oisdjfodifj odijfoidfj odifj odijf odifj odfijodifj odifjodijf odifj odfjods jfadjo fdfjoi</p>
        <p>dskfj sdjhfkjd hkdsfjhdjdjkfhjakdjnf kjdhf kdjfh kdsjfh kdsufhka jdhfkldas jfh dksfjh kdsfjh dksfjh .</p>
    </div>
    <div class="row p-3">
        <div class="card col" style="width: 18rem;">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title h-color">Project Name</h5>
                <p class="card-text">ldslfkjdf ldkkfj lkdjf ldkfj ldkfj dlfj dflj sdkkd</p>
                <p class="card-text">ldsjdf ldkkfj lkdjf ldk ldkfj dlfj dflj sdkkd</p>
                <p class="card-text">ldslfkjdf ldkkfj lkdjffj dlfj dflj sdkkd. </p>
            </div>
        </div>
        <div class="card col" style="width: 18rem;">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title h-color">Project Name</h5>
                <p class="card-text">ldslfkjdf ldkkfj lkdjf ldkfj ldkfj dlfj dflj sdkkd</p>
                <p class="card-text">ldsjdf ldkkfj lkdjf ldk ldkfj dlfj dflj sdkkd</p>
                <p class="card-text">ldslfkjdf ldkkfj lkdjffj dlfj dflj sdkkd. </p>
            </div>
        </div>
        <div class="card col" style="width: 18rem;">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title h-color">Project Name</h5>
                <p class="card-text">ldslfkjdf ldkkfj lkdjf ldkfj ldkfj dlfj dflj sdkkd</p>
                <p class="card-text">ldsjdf ldkkfj lkdjf ldk ldkfj dlfj dflj sdkkd</p>
                <p class="card-text">ldslfkjdf ldkkfj lkdjffj dlfj dflj sdkkd. </p>
            </div>
        </div>
    </div>
</div>